@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mulish:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PP Editorial New';
    src: url('../static/fonts/PPEditorialNew-Italic.otf') format('otf');
}

@layer components {
  .btn-primary {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    cursor: pointer;
  }

  .btn-outline {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid #000;
  }

  .navbar-link, .navbar-link-active {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-decoration: none;
  }

  .navbar-link-active {
    color:#ff671f;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-basis: 50%;
  }

  .footer-header {
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    color: #777c88;
    font-weight: 800;
  }

  .footer-link {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
  }

  .footer-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
    /* flex-basis: 40%; */
    height: max-content;
    margin: 0 16px 32px 0;
  }

  .footer-link-group {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .arrow {
    color: #777c88;
    transform: rotate(-45deg);
  }

  .column-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}